
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	   default-autowire="byName" default-lazy-init="false">


	<context:property-placeholder location="classpath:spring-jdbc.properties"/>
	<bean id="baseDatasoucre" abstract="true">
		<property name="driverClassName" value="${jdbc.dataSource.driverClassName}"></property>
		<property name="initialSize" value="${jdbc.dataSource.initialSize}"></property>
		<property name="maxActive" value="${jdbc.dataSource.maxActive}"></property>
		<property name="maxIdle" value="${jdbc.dataSource.maxIdle}"></property>
		<property name="maxWait" value="${jdbc.dataSource.maxWait}"></property>
		<property name="minIdle" value="${jdbc.dataSource.minIdle}"></property>
		<property name="validationQuery" value="${jdbc.dataSource.validationQuery}"></property>
		<property name="testWhileIdle" value="${jdbc.dataSource.testWhileIdle}"></property>
		<property name="testOnBorrow" value="${jdbc.dataSource.testOnBorrow}"></property>
		<property name="removeAbandoned" value="${jdbc.dataSource.removeAbandoned}"></property>
		<property name="removeAbandonedTimeout" value="${jdbc.dataSource.removeAbandonedTimeout}"></property>
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.dataSource.timeBetweenEvictionRunsMillis}"></property>
		<property name="minEvictableIdleTimeMillis" value="${jdbc.dataSource.minEvictableIdleTimeMillis}"></property>
	</bean>


	<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--<property name="basePackage" value="com.sprucetec.gwis.dao.referral" />-->
		<!--<property name="sqlSessionFactoryBeanName" value="malletl.sqlSessionFactory" />-->
	<!--</bean>-->
	<!--<bean id="malletl.sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="malletl.dataSource" />-->
		<!--<property name="mapperLocations" value="classpath:mybatis/mapper/referral/*Mapper.xml"/>-->
	<!--</bean>-->

	<bean id="malletl.dataSource" parent="baseDatasoucre" class="org.apache.commons.dbcp.BasicDataSource"
		  destroy-method="close">
		<property name="url" value="${jdbc.malletl.url}"/>
		<property name="username" value="${jdbc.malletl.username}"/>
		<property name="password" value="${jdbc.malletl.password}"/>
	</bean>
</beans>