[submodule "sparrow"]
	path = sparrow
	url = git@github.com:sparrowzoo/sparrow.git
[submodule "sparrow-loader"]
	path = sparrow-loader
	url = git@github.com:sparrowzoo/sparrow-loader.git
[submodule "sparrow-container"]
	path = sparrow-container
	url = git@github.com:sparrowzoo/sparrow-container.git
[submodule "sparrow-data-source"]
	path = sparrow-data-source
	url = git@github.com:sparrowzoo/sparrow-data-source.git
[submodule "sparrow-json"]
	path = sparrow-json
	url = git@github.com:sparrowzoo/sparrow-json.git
[submodule "sparrow-log"]
	path = sparrow-log
	url = git@github.com:sparrowzoo/sparrow-log.git
[submodule "sparrow-mvc"]
	path = sparrow-mvc
	url = git@github.com:sparrowzoo/sparrow-mvc.git
[submodule "sparrow-orm"]
	path = sparrow-orm
	url = git@github.com:sparrowzoo/sparrow-orm.git
[submodule "sparrow-rocketmq-client"]
	path = sparrow-rocketmq-client
	url = git@github.com:sparrowzoo/sparrow-rocketmq-client.git
[submodule "sparrow-sharded-jedis"]
	path = sparrow-sharded-jedis
	url = git@github.com:sparrowzoo/sparrow-sharded-jedis.git
[submodule "sparrow-markdown"]
	path = sparrow-markdown
	url = git@github.com:sparrowzoo/sparrow-markdown.git
[submodule "style"]
	path = style
	url = git@github.com:sparrowzoo/style.git
[submodule "sparrow-aop"]
	path = sparrow-aop
	url = git@github.com:sparrowzoo/sparrow-aop.git
[submodule "sparrow-registry"]
	path = sparrow-registry
	url = git@github.com:sparrowzoo/sparrow-registry.git
[submodule "sparrow-test"]
	path = sparrow-test
	url = git@github.com:sparrowzoo/sparrow-test.git
[submodule "sparrow-distribution-job"]
	path = sparrow-distribution-job
	url = git@github.com:sparrowzoo/sparrow-distribution-job.git
[submodule "sparrow-distribution-config"]
	path = sparrow-distribution-config
	url = git@github.com:sparrowzoo/sparrow-distribution-config.git
[submodule "sparrow-bom"]
	path = sparrow-bom
	url = git@github.com:sparrowzoo/sparrow-bom.git
[submodule "sparrow-kafka-client"]
	path = sparrow-kafka-client
	url = git@github.com:sparrowzoo/sparrow-kafka-client.git

