<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!--ioc 容器的location地址 可以缺省，默认为beans.xml 不要加classpath:-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/sparrow_application_context.xml</param-value>
    </context-param>
    <!--默认的全局配置文件 可以缺少，默认为 /system_config.properties 不要加classpath:-->
    <context-param>
        <param-name>configLocation</param-name>
        <param-value>/system_config.properties</param-value>
    </context-param>


    <!-- 请求编码过滤器 -->
    <filter>
        <filter-name>CharSetEncoding</filter-name>
        <filter-class>com.sparrow.support.web.CharSetEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharSetEncoding</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!--Bean容器初始化侦听器 -->
    <listener>
        <listener-class>com.sparrow.mvc.ContextLoaderListener</listener-class>
    </listener>

    <!-- 生成验证码 -->
    <servlet>
        <servlet-name>ValidateCode</servlet-name>
        <servlet-class>com.sparrow.web.support.ValidateCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateCode</servlet-name>
        <url-pattern>/validate-code</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>qrcode</servlet-name>
        <servlet-class>com.sparrow.web.support.QRCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qrcode</servlet-name>
        <url-pattern>/qrcode</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletLifeCycle</servlet-name>
        <servlet-class>com.sparrow.web.ServletLifeCycle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLifeCycle</servlet-name>
        <url-pattern>/servlet-life-cycle</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.sparrow.mvc.DispatcherFilter</filter-class>
        <init-param>
            <param-name>except_url</param-name>
            <param-value>/qrcode,/validate-code,/servlet-life-cycle</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <!--是否使用则业务端决定，框架建议注掉-->
        <!--<dispatcher>FORWARD</dispatcher>-->
    </filter-mapping>

    <session-config>
        <!-- session超时时间单位为分钟 -->
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>template/welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
